@using Task2.Models
@{
    ViewBag.Title = "Detail View";
    
    IRepository<Contact> repository = MemoryContactRepository.Singleton;
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Company Address
</address>
<p>@repository.Read(3).ID</p>